<!--EJS Author Home: author can view their draft/published articles, edit them, delete them & publish them-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/output.css" />
    <title>Home: Author</title>
</head>

<body>

    <!--Navbar for home and settings link: navbar styles defined in ./public/input.css custom classes-->
    <nav>

        <!--Navbar main container-->
        <div class="nav-container">
            <!--Span element containing the Blog Title, and links within the current website section (e.g. Author)-->
            <span> <!--Hidden on mobile screens in favor of the Menu Button and collapsible list menu!-->
                <!--Displays blog title on the left of the navbar-->
                <div class="title-container">
                    <a href="/author/">
                        <%= blog.title %>
                    </a>
                </div>
                <!--Links to pages within this website section -->
                <div class="nav-link">
                    <a href="/author/">Home (Author)</a>
                </div>
                <div class="nav-link">
                    <a href="/author/settings">Settings</a>
                </div>
            </span>
            <!-- Container for toggleable link to Other Section (e.g. 'Reader' for the 'Author' page)-->
            <div class="nav-link position-on-right">
                <a href="/reader" class="change-site-link">Home (Reader)</a>
            </div>
            <!--This is hidden on larger screens -->
            <div class="menu-button-container">
                <button class="menu-button">
                    <!--Code for how to make an SVG menu icon containing three horizontal bars: -->
                    <!--Ref: https://www.devwares.com/blog/how-to-create-a-beautiful-responsive-navbar-using-tailwind-css/-->
                    <svg class="w-12 h-12" x-show="! showMenu" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="3" viewBox="0 00 26 26" stroke="black">
                        <path d="m4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div> <!--End of 'nav-container' class-->

        <!-- Collapsible menu which is displayed across the screen on mobile-only sized screens -->
        <!--Toggle showing this menu with the above Menu Button by clicking it (implemented in script.js file)-->
        <!--Make this menu blue on author page and emerald colored on reader page to help users distinguish-->
        <div class="hidden hidden-menu bg-blue-300"> <!-- 'hidden' property in TailwindCSS is toggled -->
            <ul>
                <li>
                    <a href="/author/">Home (Author)</a>
                </li>
                <li>
                    <a href="/author/settings">Settings</a>
                </li>
                <li>
                    <a href="/reader/">Home (Reader)</a>
                </li>
            </ul>
        </div>

    </nav>

    <!-- Most h-tag styles are in public/input.css as so frequently used, but change font to lobster 
        for h1 here-->
    <h1 class="font-lobster">Home: Author</h1>
    <!-- Container with all blog details for Author home page-->
    <!--Tailwind Classes are contained inline in the 'class' attrib, as this custom element is not reused!-->
    <div class="flex-col flex-auto flex-wrap text-center justify-center content-center gap-2 sm:gap-4
         md:gap-5 lg:gap-6">
        <h2 class="order-1 font-lobster">
            <%= blog.title %>
        </h2>
        <h3 class="order-2 font-opensans">
            <%= blog.subtitle %>
        </h3>
        <h4 class="order-3 text-center font-opensans">
            <%= blog.author %>
        </h4>
    </div>
    <!-- End of blog titles/author container -->

    <!-- Container for the 'Create New Draft Article' form -->
    <div class="create-draft-container font-opensans flex justify-center m-8">
        <form method="GET" action="/author/create-new-draft-article">
            <button type="submit" class="basic-button bg-blue-500 hover:bg-blue-800 font-opensansbold"
                name="create-new-draft" value="create-new-draft">
                Create New Draft
            </button>
        </form>
    </div>
    <!-- End of container for the 'Create New Draft Article' form -->

    <!-- Container storing two columns: one for drafts, one for published articles -->
    <!--Responsive layout: show 2 cols only on > 640px-width screens -->
    <div class="font-opensans grid sm:grid-cols-2 sm:grid-cols-2 justify-center m-6 px-4 px-2">

        <!--DRAFT ARTICLES SECTION-->
        <!-- Styles for this articles container are in public/input.css because they are used repeatedly -->
        <div class="author-home-articles-container" id="author-home-draft-articles-container">
            <h5>Draft Articles</h5>
            <!--On mobile screens with one *long* column grid layout, create link so the author can quickly
                navigate to the 'published' section!-->
            <a class="small-screens-navigation-helper-link" href="#author-home-published-articles-container">
                Go to Published Articles
            </a>
            <!--Only display articles with is_published property set to "False" (in 'articles' table) here-->
            <% articles.forEach(function(article) { %>
                <% if(!article.is_published){ %>
                    <div class="author-home-article-card">
                        <div class="article-title">
                            <h6>Title: <%= article.title %>
                            </h6>
                        </div>
                        <div class="date-heading">
                            <em>Created:</em>
                            <%= article.datetime_created %> (UTC)
                        </div>
                        <div class="date-heading">
                            <em>Last modified:</em>
                            <%= article.datetime_modified %> (UTC)
                        </div>
                        <div class="date-heading">
                            <% if(!article.datetime_published){ %>
                                <em>Published:</em> Never
                                <% } else { %>
                                    <em>Last published:</em>
                                    <%= article.datetime_published %> (UTC)
                                        <% } %>
                        </div>
                        <!-- Container with buttons: edit link, 'publish' and 'delete' -->
                        <div class="author-home-article-forms-container">
                            <!--Dynamically-generated Edit Article Link-->
                            <a href="/author/edit-article?id=<%= article.id %>" class="order-1 form-button px-8 bg-blue-500 hover:bg-blue-700
                                     hover:no-underline hover:text-white">
                                Edit
                            </a>
                            <!-- Form to publish the article -->
                            <form class="order-2" method="POST" action="/author/publish-article">
                                <!--Sends Article ID in req.body from hidden input field-->
                                <input type="hidden" id="article-<%= article.id %>" name="id"
                                    value="<%= article.id %>" />
                                <input class="form-button max-h-max bg-teal-400 hover:bg-teal-800" type="submit"
                                    value="Publish" />
                            </form>
                            <!-- Form to delete the article -->
                            <form class="order-3" method="POST" action="/author/delete-article">
                                <!--Sends Article ID in req.body from hidden input field-->
                                <input type="hidden" id="article-<%= article.id %>" name="id"
                                    value="<%= article.id %>" />
                                <input class="form-button px-6 bg-amber-700 hover:bg-amber-900" type="submit"
                                    value="Delete" />
                            </form>
                        </div> <!--End of container with forms for user interaction with the article-->
                    </div> <!--End of individual draft article section -->
                    <% } %>
                        <% }); %>
        </div>
        <!--END OF DRAFT ARTICLES SECTION-->

        <!--PUBLISHED ARTICLES SECTION-->
        <div class="author-home-articles-container" id="author-home-published-articles-container">
            <h5>Published Articles</h5>
            <!--On mobile screens with one column grid layout, use this link to go to drafts section-->
            <a class="small-screens-navigation-helper-link" href="#author-home-draft-articles-container">
                Go to Draft Articles
            </a>
            <!--Only display articles with is_published property set to 'True' in here-->
            <% articles.forEach(function(article) { %>
                <% if(article.is_published){ %>
                    <div class="author-home-article-card">
                        <div>
                            <h6>Title: <%= article.title %>
                            </h6>
                        </div>
                        <div>
                            <em>Created:</em>
                            <%= article.datetime_created %>,
                        </div>
                        <div>
                            <em>Last modified:</em>
                            <%= article.datetime_created %> (UTC)
                        </div>
                        <div>
                            <em>Published:</em>
                            <%= article.datetime_published %> (UTC)
                        </div>
                        <div>
                            <b>Likes:</b>
                            <%= article.likes %>
                        </div>
                        <!-- Container with buttons: edit link, 'share' and 'delete' -->
                        <div class="author-home-article-forms-container">
                            <!--Dynamically-generated Edit Article Link-->
                            <a href="/author/edit-article?id=<%= article.id %>" class="order-1 form-button px-8 bg-blue-500 hover:bg-blue-700
                                     hover:no-underline hover:text-white">
                                Edit
                            </a>
                            <!-- Share button-->
                            <button class="form-button order-2 share-button px-6
                                 bg-emerald-600 hover:bg-emerald-950" id="share-button-<%= article.id %>">
                                Share
                            </button>
                            <!-- Form to delete the article -->
                            <form class="order-3" method="POST" action="/author/delete-article">
                                <!--Sends Article ID in req.body from hidden input field-->
                                <input type="hidden" id="article-<%= article.id %>" name="id"
                                    value="<%= article.id %>" />
                                <input class="form-button px-6 bg-amber-700 hover:bg-amber-900" type="submit"
                                    value="Delete" />
                            </form>
                        </div>
                    </div> <!--End of individual article card-->
                    <% } %>
                        <% }); %>
        </div>
        <!--PUBLISHED ARTICLES SECTION-->

    </div> <!--End of articles container-->
    <!--JS Script for things like menu button functionality on small screens-->
    <script type="application/javascript" src="../../public/script.js"></script>
</body>

</html>