<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/output.css" />
    <title>Author: Settings</title>
</head>

<body class="normal-body">
    <!--Navbar for home and settings link: navbar styles defined in ./public/input.css custom classes-->
    <nav>
        <!--Navbar main container-->
        <div class="nav-container">
            <!--Span element containing the Blog Title, and links within the current website section (e.g. Author)-->
            <span> <!--Hidden on mobile screens in favor of the Menu Button and collapsible list menu!-->
                <!--Displays blog title on the left of the navbar-->
                <div class="title-container">
                    <a href="/author/">
                        <%= blog.title %>
                    </a>
                </div>
                <!--Links to pages within this website section -->
                <div class="nav-link">
                    <a href="/author/">Home (Author)</a>
                </div>
                <div class="nav-link">
                    <a href="/author/settings">Settings</a>
                </div>
            </span>
            <!-- Container for toggleable link to Other Section (e.g. 'Reader' for the 'Author' page)-->
            <div class="position-on-right">
                <a href="/reader" class="change-site-link">Home (Reader)</a>
            </div>
            <!--This is hidden on larger screens -->
            <div class="menu-button-container">
                <button class="menu-button">
                    <!--Code for how to make an SVG menu icon containing three horizontal bars: -->
                    <!--Ref: https://www.devwares.com/blog/how-to-create-a-beautiful-responsive-navbar-using-tailwind-css/-->
                    <svg id="menu-icon" class="w-12 h-12" x-show="! showMenu" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="3" viewBox="0 00 26 26" stroke="black">
                        <path d="m4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div> <!--End of 'nav-container' class-->
        <!-- Collapsible menu which is displayed across the screen on mobile-only sized screens -->
        <!--Toggle showing this menu with the above Menu Button by clicking it (implemented in script.js file)-->
        <!--Make this menu blue on author page and emerald colored on reader page to help users distinguish-->
        <div class="hidden hidden-menu bg-blue-300 dark:bg-gray-900"> <!-- 'hidden' property in TailwindCSS is toggled -->
            <ul>
                <li>
                    <a href="/author/">Home (Author)</a>
                </li>
                <li>
                    <a href="/author/settings">Settings</a>
                </li>
                <li>
                    <a href="/reader/">Home (Reader)</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="darkmode-element">
        <button id="darkmode-button" class="darkmode-button">Dark Mode</button>
    </div>
    <!-- Make it clear that this is the **Author** not the **User** Home page-->
    <h1 class="font-lobster">Author: Change Settings</h1>
    <div class="font-opensans m-4 py-4 rounded grid justify-center content-evenly gap-y-8 h-5/6">
        <h2 class="text-center">
            You can change your blog details here:
        </h2>
        <% if (errors.length> 0) { %>
            <!--If errors array is not empty, then display the errors here:-->
            <div id="errors-container" class="errors-container">
                <p class="font-bold">
                    Sorry! We failed to save your settings because of the following errors:
                </p>
                <!--In tailwind, <ul> tags need explicit list-disc class to show the bullet points-->
                <ul>
                    <% for (var i=0; i < errors.length; i++ ) { %>
                        <li>
                            <%= errors[i].msg %>
                        </li>
                        <% } %>
                </ul>
            </div>
            <%} %>
                <!--Form to change the author's blog details in the 'blog' sqlite3 table -->
                <form class="text-left grid gap-4 content-center bg-blue-200 dark:bg-slate-800 shadow-xl rounded px-8 py-6 mb-4"
                    method="POST" action="/author/settings">
                    <div class="grid gap-y-4 auto-cols-auto self-start">
                        <!--Form label-input components: styles contained in input.css, as repeated so often-->
                        <div class="settings-form-label-input-pair">
                            <label for="title">Blog Title:</label>
                            <input type="text" name="title" id="title" value="<%= blog.title %>">
                        </div>
                        <div class="settings-form-label-input-pair">
                            <label for="author">Author:</label>
                            <input type="text" name="author" id="author" value="<%= blog.author %>">
                        </div>
                        <div class="settings-form-label-input-pair">
                            <label for="subtitle">Blog Subtitle:</label>
                            <input type="text" name="subtitle" id="subtitle" value="<%= blog.subtitle %>">
                        </div>
                    </div>
                    <div class="flex items-center sm:justify-center mt-4">
                        <input class="basic-button bg-orange-600 hover:bg-orange-800 font-opensansbold" type="submit"
                            value="Save Settings" />
                    </div>
                </form>
                <!--End of Change Settings Form-->
                <!--Link to go back to Author Home page-->
                <div class="text-center relative inset-x-0 bottom-0 pb-0">
                    <a class="hover:text-amber-700 font-bold underline text-blue-700" href="/author/">
                        Back to Home (Author)
                    </a>
                </div>
    </div>
    <!--End of main div-->
    <footer>
        <div>
            BlogDragon Solutions 2023
        </div>
    </footer>
    <script type="application/javascript" src="../../public/script.js"></script>
</body>

</html>