<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/output.css" />
    <title>Home: Author</title>
</head>
<body>
    <!--Navbar for home and settings link-->
    <nav>
        <div class="nav-container">
            <span>
                <!--Display blog title in navbar-->
                <div><%= blog.title %></div>
                <a href="/author/">Home (Author)</a>
                <a href="/author/settings">Settings</a>
            </span>
            <div class="menu-button-container">
                <button class="outline-none menu-button">
                    <!--Code for how to make an SVG menu button with three horizontal bars: -->
                     <!--Ref: https://www.devwares.com/blog/how-to-create-a-beautiful-responsive-navbar-using-tailwind-css/-->
                    <svg class="w-12 h-12" x-show="! showMenu" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" viewBox="0 00 26 26" stroke="black">
                        <path d="m4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="hidden hidden-menu"> <!--Toggle 'hidden' property with JS script when button is clicked-->
            <ul>
                <li>
                    <a href="/author/">Home (Author)</a>
                </li>
                <li>
                    <a href="/author/settings">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="order-1">Home: Author</h1>
    <!-- Make it clear that this is the **Author** not the **User** Home page-->
    <div class="author-home-title-box text-center"> <!--This is a custom Tailwind class with flex property I made in public/input.css-->
        <h2 class="order-2"><%= blog.title %></h2>
        <h3 class="order-3 italic"><%= blog.subtitle %></h3>
        <h4 class="text-center"><%= blog.author %></h4>
    </div>
    <div class="create-draft-container">
        <form method="GET" action="/author/create-new-draft-article">
            <button type="submit" class="basic-button" name="create-new-draft" value="create-new-draft">
                <b>Create New Draft</b>
            </button>
        </form>
    </div>
    <div class="author-home-articles-container">
        <div class="author-home-draft-articles-container" id="author-home-draft-articles-container">
            <h5>Draft Articles</h5>
            <ul>    
                <!--Only display articles with is_published property set to False in here-->
                <% articles.forEach(function(article) { %>
                    <% if(!article.is_published){ %>
                        <li> ID: <%= article.id %>, Title: <%= article.title %>
                            <br>
                            Created on: <%= article.datetime_created %> (UTC)
                            <br>
                            Last modified on: <%= article.datetime_modified %> (UTC)
                            <br>
                            <% if(!article.datetime_published){ %> 
                            Published: Never
                            <% } else { %>
                            Last published: article.datetime_published (UTC)
                            <% } %>
                            <span>
                                <!-- Dynamic Link to Edit Article page with this article's ID in URL as querystring -->
                                <a href="/author/edit-article?id=<%= article.id %>">Edit article</a>
                                <!-- Form/Button to Delete Article page using this article's ID -->
                                <!-- Use POST to avoid user executing CRUD operations in URL! -->
                                <form method="POST" action="/author/delete-article">
                                    <!--Send Article ID in req.body from hidden input field-->
                                    <input type="hidden" id="article-<%= article.id %>" name="id" value="<%= article.id %>"/>
                                    <input type="submit" value="Delete"/>
                                </form>
                                <!-- Use POST to publish! -->
                                <form method="POST" action="/author/publish-article">
                                    <!--Send Article ID in req.body from hidden input field-->
                                    <input type="hidden" id="article-<%= article.id %>" name="id" value="<%= article.id %>"/>
                                    <input type="submit" value="Publish"/>
                                </form>
                            </span>
                        </li>
                    <% } %>
                <% }); %> 
            </ul>
        </div> <!--End of draft articles container-->
        <div class="author-home-published-articles-container">
            <h5>Published Articles</h5>
            <!--On mobile screens with one column grid layout, use this link to go to drafts-->
            <a class="sm:hidden" href="#author-home-draft-articles-container">Go to Draft Articles</a>
            <ul>    
                <!--Only display articles with is_published property set to True in here-->
                <% articles.forEach(function(article) { %>
                    <% if(article.is_published){ %>
                        <li> ID: <%= article.id %>, Title: <%= article.title %>, Created on: <%= article.datetime_created %>,
                            Last modified on: <%= article.datetime_created %> (UTC)
                            <br>
                            Published: <%= article.datetime_published %> (UTC)
                            <br>
                            Likes: <%= article.likes %>
                            <br>
                            <button class="share-button" id="share-button-<%= article.id %>">Share</button>
                            <br>
                            <span>
                                <!-- Link to Edit Article page with this article's ID in URL as querystring -->
                                <a href="/author/edit-article?id=<%= article.id %>">Edit article</a>
                                <!-- Form/Button to Delete Article page using this article's ID -->
                                <form method="POST" action="/author/delete-article">
                                    <!-- Use POST to avoid user executing CRUD operations in URL! -->
                                    <!--Send Article ID in req.body from hidden input field-->
                                    <input type="hidden" id="article-<%= article.id %>" name="id" value="<%= article.id %>"/>
                                    <input type="submit" value="Delete"/>
                                </form>
                            </span>
                        </li>
                    <% } %>
                <% }); %> 
            </ul>
        </div> <!--End of published articles container-->
    </div> <!--End of articles container-->
    <script type="application/javascript" src="../../public/author-homepage-script.js" ></script>
</body>
</html>
