<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Home Page</title>
</head>
<body>
    <!--Navbar for settings link-->
    <nav>
        <a href="/author/">Author Home</a>
        <a href="/author/settings">Settings</a>
    </nav>
    <!-- Make it clear that this is the **Author** not the **User** Home page-->
    <h1>Welcome to the <b>Author</b> Home Page!</h1>
    <h2><%= blog.title %></h2>
    <h3><%= blog.subtitle %></h3>
    <h4><em><%= blog.author %></em></h4>
    <h5>Draft Articles</h5>
    <ul>    
        <!--Only display articles with is_published property set to False in here-->
        <% articles.forEach(function(article) { %>
            <% if(!article.is_published){ %>
                <li> ID: <%= article.id %>, Title: <%= article.title %>, Created on: <%= article.datetime_created %>,
                    Last modified on: <%= article.datetime_created %>
                    <br>
                    <!--Dynamically links to edit draft article page-->
                    <a href="/author/edit-article?id=<%= article.id %>">Edit article</a>
                </li>
             <% } %>
        <% }); %> 
    </ul>
    <h5>Published Articles</h5>
    <ul>    
        <!--Only display articles with is_published property set to True in here-->
        <% articles.forEach(function(article) { %>
            <% if(article.is_published){ %>
                <li> ID: <%= article.id %>, Title: <%= article.title %>, Created on: <%= article.datetime_created %>,
                    Last modified on: <%= article.datetime_created %>
                    <br>
                    <!--Dynamically links to edit published article page-->
                    <a href="/author/edit-article?id=<%= article.id %>">Edit article</a>
                </li>
             <% } %>
        <% }); %> 
    </ul>
    <form method="GET" action="/author/create-new-draft-article">
        <button name="create-new-draft" value="create-new-draft">Create New Draft</button>
    </form>
</body>
</html>
