<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/output.css" />
    <title>Edit Article</title>
</head>
<body>
    <!--Navbar for home and settings link: navbar styles defined in ./public/input.css custom classes-->
    <nav>
        <!--Navbar main container-->
        <div class="nav-container">
            <!--Span element containing the Blog Title, and links within the current website section (e.g. Author)-->
            <span> <!--Hidden on mobile screens in favor of the Menu Button and collapsible list menu!-->
                <div class="title-container">
                    <a href="/author/">
                        <%= blog.title %>
                    </a>
                </div>
                <!--Links to pages within this website section -->
                <div class="nav-link">
                    <a href="/author/">Home (Author)</a>
                </div>
                <div class="nav-link">
                    <a href="/author/settings">Settings</a>
                </div>
            </span>
            <!-- Container for toggleable link to Other Section (e.g. 'Reader' for the 'Author' page)-->
            <div class="nav-link position-on-right">
                <a href="/reader" class="change-site-link">Home (Reader)</a>
            </div>
            <!--This is hidden on larger screens -->
            <div class="menu-button-container">
                <button class="menu-button">
                    <!--Code for how to make an SVG menu icon containing three horizontal bars: -->
                    <!--Ref: https://www.devwares.com/blog/how-to-create-a-beautiful-responsive-navbar-using-tailwind-css/-->
                    <svg class="w-12 h-12" x-show="! showMenu" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="3" viewBox="0 00 26 26" stroke="black">
                        <path d="m4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div> <!--End of 'nav-container' class-->
        <div class="hidden hidden-menu bg-blue-300"> <!-- 'hidden' property in TailwindCSS is toggled -->
            <ul>
                <li>
                    <a href="/author/">Home (Author)</a>
                </li>
                <li>
                    <a href="/author/settings">Settings</a>
                </li>
                <li>
                    <a href="/reader/">Home (Reader)</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="font-lobster">Author: Edit Article</h1>
    <!--Article details-->
    <div class="font-opensans grid sm:grid-cols-2 m-10">
        <div><b>Created:</b>
            <%= article.datetime_created %>
        </div>
        <div><b>Published:</b>
            <% if (article.datetime_published) { %>
                <%= article.datetime_published %>
                    <%} else { %>
                        Never
                        <%} %>
        </div>
        <div><b>Last Modified:</b>
            <%= article.datetime_modified %>
        </div>
        <div>
            <p class="font-opensansitalic">(Times given in UTC)</p>
        </div>
    </div>
    <!--End Article details-->
    <!--Errors container-->
    <% if (errors.length> 0) { %>
        <!--If errors array contains at least one item, then display the errors container/div:-->
        <div id="errors-container" class="errors-container">
            <p class="font-opensansbold">Sorry! We failed to save your article because of the following errors:</p>
            <!--In tailwind, <ul> tags need explicit list-disc class to show the bullet points-->
            <ul class="list-disc">
                <% for (var i=0; i < errors.length; i++ ) { %>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                    <% } %>
            </ul>
        </div>
        <%} %>
        <!--End errors container-->
        <!--Main Edit Article Form container-->
        <div class="p-4 m-10 rounded-lg bg-blue-100 mb-6 drop-shadow-xl border-2 border-gray-300"> <!--Tailwind classes here : elem is not repeated-->
            <!--Article form-->
            <form class="m-10 flex-col justify-center content-center" method="POST" action="/author/edit-article">
                <!--Send the article's ID and other hidden fields back with POST!-->
                <input type="hidden" id="article-<%= article.id %>" name="id" value="<%= article.id %>" />
                <input type="hidden" id="datetime_created" name="datetime_created"
                    value="<%= article.datetime_created %>" />
                <input type="hidden" id="datetime_modified" name="datetime_modified"
                    value="<%= article.datetime_modified %>" />
                <input type="hidden" id="datetime_published" name="datetime_published"
                    value="<%= article.datetime_published %>" />
                <!--End of hidden fields-->
                <!--Start of displayed input fields for title and subtitle-->
                <div class="sm:flex sm:justify-start sm:mb-10 gap-8">
                    <div class="block">
                        <label class="font-opensansbold m-2" for="title">
                            Change Title:
                        </label>
                        <input class="font-opensansitalic sm:w-full bg-gray-50 border-2 border-gray-300 text-gray-900 
                            rounded-lg focus:outline-none focus:border-blue-600 focus:border-2 p-2.5 ml-2" type="text"
                            name="title" id="title" value="<%= article.title %>">
                    </div>
                    <div class="block">
                        <label class="font-opensansbold m-2" for="subtitle">
                            Change Subtitle:
                        </label>
                        <input class="font-opensansitalic sm:w-full bg-gray-50 border-2 border-gray-300 text-gray-900 rounded-lg
                            rounded-lg focus:outline-none focus:border-blue-600 focus:border-2 p-2.5 ml-2" type="text"
                            name="subtitle" id="subtitle" value="<%= article.subtitle %>">
                    </div>
                </div>
                <!--End of displayed input fields for title and subtitle-->
                <!--Edit Article Text Content Here-->
                <div class="flex-col no-wrap">
                    <div>
                        <label class="font-opensansbold mb-10" for="content">Edit Content:</label>
                    </div>
                    <div>
                        <textarea class="w-full px-1 py-1 text-gray-900 bg-white border-2 border-gray-300 rounded-lg focus:outline-none
                            focus:border-blue-600 focus:border-2 font-opensans" type="text" name="content" id="content"
                            rows="12"><%= article.content %></textarea>
                    </div>
                </div>
                <!--End Edit Article Text Content Here-->
                <!--Container and styling for Submit Changes button -->
                <div class="text-center pt-4">
                    <input class="shadow-md shadow-slate-400 hover:drop-shadow-lg hover:shadow-slate-800 text-white
                        py-2 px-4 rounded-lg cursor-pointer text-white bg-orange-600 hover:bg-orange-800
                        font-opensansbold" type="submit" value="Submit Changes" />
                </div>
                <!--End of container and styling for Submit Changes button -->
            </form>
            <!--End article form-->
        </div> <!--End of Main Edit Article/Form Container-->
        <!--Link to go back to Author's home page-->
        <div class="text-left ml-10 relative inset-x-0 bottom-4 py-2">
            <a class="hover:text-amber-700 font-bold underline text-blue-700" href="/author/">
                Back to Home (Author)
            </a>
        </div>
        <script type="application/javascript" src="../../public/script.js"></script>
    </body>
</html>