<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/styles.css" rel="stylesheet" type="text/css" />
    <title>View Article</title>
</head>
<body>
    <!--Navbar for settings link-->
    <nav>
        <a href="/reader/">Reader Home</a>
    </nav>
    <!-- Make it clear that this is the **Author** not the **User** Home page-->
    <h1><%= article.title %></h1>
    <h2><%= article.subtitle %></h2>
    <h3><em>Published: <%= article.datetime_published %> (GMT)</em></h3>
    <span>
        <h4>Likes: <%= article.likes %></h4>
        <!--Form to 'like' the article-->
        <form method="POST" action="/reader/like-article">
            <input type="hidden" name="id_like_form" id="id-like-form" value="<%= article.id %>">
            <input type="submit" value="Like">
        </form>
    </span>
    <div id="article-content">
        <p><%= article.content %> </p>
    </div>
    <!--Comment form-->
    <h5>Add A Comment</h5>
    <form method="POST" action="/reader/post-comment">
        <input type="hidden" name="id_comment_form" id="id-comment-form" value="<%= article.id %>">
        <label for="name">Your name:</label>
        <br>
        <input type="text" name="name" id="name" value="User">
        </br>
        </br>
        <label for="comment">Type comment here:</label>
        </br>
        <textarea name="comment" id="comment" value="" rows="4" cols="50"></textarea>
        </br>
        <input type="submit" value="Submit Comment">
    </form>
    <a href="/reader/">Back</a>
    <h6>Comments</h6>
    <!-- Display errors here if tried to post a comment but did not pass validation checks-->
    <% if (errors.length > 0) { %>
        <h4>Could not post comment - errors found: </h4>
        <ul>
            <% errors.forEach(function(error) { %>
                            <li><%= error.msg %></li>
                    <%
                })
            %>
        </ul>
    <%} %>
    <% comments.forEach(function(comment) { %>
        <%= comment.username %>, Posted: <%= comment.datetime_published %>
        </br>
        "<%= comment.comment %>"
        </br> </br>
        <%});
    %> 
</body>
</html>
