<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/output.css" rel="stylesheet" type="text/css" />
    <title>View Article</title>
</head>
<body>
    <!--Navbar-->
    <nav class="z-10">
        <div class="nav-container">
            <span>
                <!--Display blog title in navbar-->
                <div class="font-lobster justify-self-start title-container">
                    <a class="hover:text-emerald-500" href="/author/">
                        <%= blog.title %>
                    </a>
                </div>
                <div class="nav-link">
                    <a class="hover:text-emerald-500" href="/reader/">Home (Reader)</a>
                </div>
            </span>
            <div class="nav-link position-on-right">
                <a href="/author" class="change-site-link hover:text-emerald-500" >Home (Author)</a>
            </div>
            <div class="menu-button-container">
                <button class="outline-none menu-button">
                    <!--Code for how to make an SVG menu button with three horizontal bars: -->
                     <!--Ref: https://www.devwares.com/blog/how-to-create-a-beautiful-responsive-navbar-using-tailwind-css/-->
                    <svg class="w-12 h-12" x-show="! showMenu" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" viewBox="0 00 26 26" stroke="black">
                        <path d="m4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="hidden hidden-menu bg-emerald-200"> <!--Toggle'hidden' property with JS script when button is clicked-->
            <ul>
                <li>
                    <a href="/reader/">Home (Reader)</a>
                </li>
                <li>
                    <a href="/author/">Home (Author)</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Make it clear that this is the **Author** not the **User** Home page-->
    <h1><%= article.title %></h1>
    <h2><%= article.subtitle %></h2>
    <h3><em>Published: <%= article.datetime_published %> (UTC)</em></h3>
    <span>
        <h4>Likes: <%= article.likes %></h4>
        <!--Form to 'like' the article-->
        <form method="POST" action="/reader/like-article">
            <input type="hidden" name="id_like_form" id="id-like-form" value="<%= article.id %>">
            <input type="submit" value="Like">
        </form>
    </span>
    <div id="article-content">
        <!--Important: without white-space set to "pre-wrap", the line breaks will not be displayed!-->
        <p style="white-space: pre-wrap;"><%= article.content %> </p>
    </div>
    <!--Comment form-->
    <h5>Add A Comment</h5>
    <form method="POST" action="/reader/post-comment">
        <input type="hidden" name="id_comment_form" id="id-comment-form" value="<%= article.id %>">
        <label for="name">Your name:</label>
        <br>
        <input type="text" name="name" id="name" value="User">
        </br>
        </br>
        <label for="comment">Type comment here:</label>
        </br>
        <textarea name="comment" id="comment" value="" rows="4" cols="50"></textarea>
        </br>
        <input type="submit" value="Submit Comment">
    </form>
    <a href="/reader/">Back</a>
    <h6>Comments</h6>
    <!-- Display errors here if tried to post a comment but did not pass validation checks-->
    <% if (errors.length > 0) { %>
        <h4>Could not post comment - errors found: </h4>
        <ul>
            <% errors.forEach(function(error) { %>
                            <li><%= error.msg %></li>
                    <%
                })
            %>
        </ul>
    <%} %>
    <% comments.forEach(function(comment) { %>
        <%= comment.username %>, Posted: <%= comment.datetime_published %> (UTC)
        </br>
        "<%= comment.comment %>"
        </br> </br>
        <%});
    %>
    <script type="application/javascript" src="../../public/script.js" ></script>
</body>
</html>
